[Unit]
Description=RicoReWi Docker status for KeyHelp
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ricorewi-docker-status
