[Unit]
Description=RicoReWi Docker backup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ricorewi-docker-backup
